/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {
  header,
  nav,
  main,
  footer {
    max-width: 64rem;
    margin: auto;
  }
  .top_bar_info{
    display: none;
  }
  .container{
    height: 10px;
  }
  .cardcontainer {
    padding: 1.3rem 2%;
    background-color: #fff;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: auto auto;
  }
  .pictrades{
    grid-column: 2/3;
    max-width: 100%;
    grid-row: 1/4;
  }
  .cardcontainer p{
    grid-column: 1/2;
  }
  .cardcontainer > h2 {
    grid-column: 1/2;
  }
  .cardcontainer h2{
    grid-column: 1/2;
  }
  .card{
    grid-row: 4/5;
  }
  .questions{
    
    grid-row: 6/7;
  }
  
  .card img{
    width: 100%
  }
  .card {
  
    border-collapse: collapse;
    margin-top: 1.7rem;
    display:contents;
  }
  .card tbody tr{
    display: grid;
  }
  .card img{
    max-width: 80%;
    
  }
  .helpicon{
    grid-column: 2/3;
    grid-row: 6/7;
    max-width: 50%;
    justify-self: center;
  }
  
} /* end of media query */
