
@media screen and (max-width: 500px){
  .container{
    height: 20px;
  }
    .logotext{
        font-size: 18px;
        width: 150%;
    }
    .top_bar_info{
      display: none;
    }


    .weather-container{
      margin-left: 5px;
      }

    .checkbtn{
        display: block;
        margin-right: 20px;
    }
    nav{
      width: 20%;
    }
    ul{
      top:103px;
    }
    /*ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        color: white;
        background-color: rgb(13, 67, 115);  
        top: 103px;
        left: -100%;
        text-align: center;    
        transition: all .5s;
        border-top: 1px solid white;
        z-index: 1;
        
    }
    nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;
        
    }

   nav ul li a{
    font-size: 20px;
    color: white;
   }
   nav ul li:hover{
    background-color: white;
    color: black;
   }
   nav ul li a:hover{
    color: black;
   }
   .action a:hover,a.active{
    background: none;
    color:rgb(20, 19, 19);
   }
   #check:checked ~ul{
    left: 0;
   }*/
   /**-------------------------------------------------------------------------**/
   .hero{
    grid-column: 1/4;
    font-size: 10px;
    width: 100%;
  }
  .herolabel h1{
    font-size: 2rem;
    margin: 0;
    
}

.herolabel{
  position: absolute;
  bottom: 1%;
  left: 5%;
  background: radial-gradient(#ffffff59, #16171800);
 /* border: 1px solid rgba(0,0,0,.75);*/
  padding: .5rem;
  box-shadow: 0 0 3rem #161616fd;
  opacity: 0.75;

}
.herolabel h2{
    font-size: 1rem;
    margin: 0;
}
.herolabel a{
    font-size: 1rem;
    margin: 5px;
}
  /*.........................................................*/

  .hero picture img{
    width: 100%;
  }
 /***********************************************************/
   .content-container{
    display:grid;
    }
    /***********************************************************/
  .currentevents{
    grid-row: 1/2;
    display: grid;
}
 



.col{
  flex-basis: 100%;
}
.col:nth-child(2), .col:nth-child(3){
  flex-basis: 100%;
}


#slider {
  grid-column: 1/4;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

#slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
     margin: 0;
  }
  #slides {
     max-width: calc(100% - 0px);
     margin: 0 auto;
  }
  #slides .inner{
    height: 800px;
  }
  .slide-content{
    display: flex;
    flex-direction: column;
  }

/******************************************************************/
.spotlight-container{
  display: grid;
  
}
.spotlight1{
  grid-column: 1/9;
}
.spotlight2{
  grid-column: 1/9;
}
.spotlight3{
  grid-column: 1/9;
}

/*Discover*/
.discover-container{
  display: grid;
  grid-template-columns: 1fr;
  
}

.header-overlay:hover .overlay{
  opacity: 0;
}

/*******************************************************************/
  footer{
    bottom: unset;
  }
}
 

